.login-form{
    background-color: white;
    border-radius: 5px;
    padding: 20px 20px 20px 20px;
    box-shadow: 2px 2px 10px gray;
}

.login-col{
    margin-top: 250px;
}

.title{
    margin-bottom: 50px;
}

.form-control{
    width: 92%;
}

.login{
    text-align: right;
}